@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
    font-family: "Fiery Turk";
    src: url("fonts/fiery_turk/Fiery_Turk.ttf");
    format: ("truetype");
}

@font-face {
    font-family: "Brasika";
    src: url("fonts/brasika/brasika-display-trial.otf");
    format: ("truetype");
}

@font-face {
    font-family: "AGB";
    src: url("fonts/Akzidenz Grotesk Font/Akzidenz-Grotesk/AkzidenzGroteskBE-BoldEx.otf");
    format: ("truetype");
}

@font-face {
    font-family: "SSR";
    src: url("fonts/sloop/Sloop Script Regular.ttf");
    format: ("truetype");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "AGB", sans-serif;
}
.navbar{
    overflow: hidden;
    background-color: #202020;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}

.navbar a{
    display: inline-block;
    color: #ffb6d9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover{
    background: #ffb6d9;
    color: #202020;
}

.home{
    padding-top: 10%;
    background-color: #202020;
    color:#ffa8c6;
    text-align: center;
    height: 550px;
}

.home h1, h2{
    font-size: 5em;
    font-family: "Brasika";
    line-height: 85px;
    text-shadow: 
        0 0 7px #ffc4d9,
        0 0 10px #d899c3,
        0 0 21px #d899c3,
        0 0 42px #b18ac0,
        0 0 82px rgb(185, 135, 233),
        0 0 92px rgb(0, 174, 255);

}


.home h2{
    font-size: 5.5em;
    letter-spacing: 6px;
}
.register{
    margin-top: 3%;
    
}
.register a{
    padding: 1%;
    background-color: #3b57a5;
    color: #ffc4d9;
    text-decoration: none;
    border-radius: 5px;
}
#timer{
    margin-top: 5%;
    padding-top: 3%;
    font-family: "AGB";
    font-size: 20pt;
    letter-spacing: 2px;
    color: #d899c3;
    text-shadow: #ffc4d9;
}

.timeunit{
    font-family: "AGB";
    font-size: 1.2rem;
}

.hands #down{
   float: left;
   width: 28%;
}

.hands #up{
    float: right;
    width: 30%;
    margin-top: 0%;
}

#info {
    padding: 2%;
    text-align: left;
    background-color: #1f2c52;
    color: #ffc4d9;
    height: 300px;
    text-align: center;
}
#info h1{
    padding-bottom: 2%;
}

details{
    background-color: #3b57a5;
    color: #fff;
    font-size: 1rem;
  }
  
  summary {
    padding: .5em 1.3rem;
    list-style: none;
    display: flex;
    justify-content: space-between;  
    transition: height 1s ease;
  }
  
  summary::-webkit-details-marker {
    display: none;
  }
  
  summary:after{
    content: "\002B";
  }
  
  details[open] summary {
      border-bottom: 1px solid #aaa;
  }
  
  details[open] summary:after{
    content: "\00D7";
  }
  
  details[open] div{
    padding: .5em 1em;
    background-color: #b18ac0;
  }
/*
nav{
    position: fixed;
    width: 100%;
    background-color: #202020;
}

.navbar1 ul{
    list-style: none;
    background-color: #202020;
    padding: 0;
    margin: 0;
    height: 85px;
    text-align: center;
}
.navbar1 li{
    display: inline-block;
    background-color: #202020;
}
.navbar1 a{
    font-family: "AGB";
    font-size: large;
    text-decoration: none;
    color: #FFFFFF;
    width: 250px;
    display: block;
    padding: 25px 20px;
    font-weight: bold;
    text-align: center;
    background-color: #202020;
}
.navbar1 a:hover{
    background: #FCB6FF;
    color: #000000;
}


.home {
    background-color: #202020;
    width: 100%;
}

.home h1{
    font-family: "Brasika";
    color: #ffb6d9;
    position: absolute;
   text-align: center;
    font-size: 90px;
    letter-spacing: 5px;
}
.home h2{
    font-family: "Brasika";
    color: #ffb6d9;
    position: absolute;
    top: 47%;
    left: 28%;
    font-size: 100px;
    letter-spacing: 10px;
}
.home h3{
    font-family: "AGB";
    color:#FCB6FF;
    position: absolute;
    text-align: center;
    top: 30%;
    font-size: 30px;
}

.register{
    flex-direction: column;
    height: 100px;
    
}
form{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}
input[type= "submit"]{
    background-color: #FCB6FF;
    position: absolute;
    color: #202020;
    font-family: "AGB";
    font-size: medium;
    border: #FFF1E6;
    border-radius: 10px;
    padding: 4px 10px;
    cursor: pointer;
    bottom: 25%;
    left: 46%;
}

  #countdown{    
    margin-top: 350px;
    text-align: center;
    display: block;
    height: fit-content;
    padding: 10px 10px;
}*/